In [1]:
%matplotlib inline

from datetime import datetime

import geopandas as gp
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from shapely.geometry import Point
from adjustText import adjust_text

In [2]:
def quarter_start(year: int, q: int) -> datetime:
    if not 1 <= q <= 4:
        raise ValueError("Quarter must be within [1, 2, 3, 4]")

    month = [1, 4, 7, 10]
    return datetime(year, month[q - 1], 1)


def get_tile_url(service_type: str, year: int, q: int) -> str:
    dt = quarter_start(year, q)

    base_url = "https://ookla-open-data.s3-us-west-2.amazonaws.com/shapefiles/performance"
    url = f"{base_url}/type%3D{service_type}/year%3D{dt:%Y}/quarter%3D{q}/{dt:%Y-%m-%d}_performance_{service_type}_tiles.zip"
    return url

In [4]:
tile_url = get_tile_url("fixed", 2020, 2)
tile_url

'https://ookla-open-data.s3-us-west-2.amazonaws.com/shapefiles/performance/type%3Dfixed/year%3D2020/quarter%3D2/2020-04-01_performance_fixed_tiles.zip'

In [5]:
tiles = gp.read_file(tile_url)

In [7]:
tiles.head()

,quadkey,avg_d_kbps,avg_u_kbps,avg_lat_ms,tests,devices,geometry
0,0022133222313202,8630,3638,44,1,1,"POLYGON ((-160.00488 70.64723, -159.99939 70.6..."
1,0022133222330023,597,597,43,1,1,"POLYGON ((-160.04333 70.63631, -160.03784 70.6..."
2,0022133222330203,9183,2949,43,1,1,"POLYGON ((-160.04333 70.63266, -160.03784 70.6..."
3,0022330200132223,4208,4032,27,1,1,"POLYGON ((-162.85583 68.07536, -162.85034 68.0..."
4,0022332201321330,9971,3661,32,1,1,"POLYGON ((-162.52075 66.95158, -162.51526 66.9..."

In [11]:
tiles.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 4678047 entries, 0 to 4678046
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   quadkey     object
 1   avg_d_kbps  int32
 2   avg_u_kbps  int32
 3   avg_lat_ms  int32
 4   tests       int32
 5   devices     int32
 6   geometry    geometry
dtypes: geometry(1), int32(5), object(1)
memory usage: 160.6+ MB